# Telegram Bot Token from @BotFather
TELEGRAM_BOT_TOKEN=7960884843:AAGxOCe7NjF0nzWPjM_oL4mlbg3oe80xwmc

# Google Apps Script Web App URL
# URL отримаєте після деплою Apps Script (одна таблиця з двома вкладками)
APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyctJ27teqRvrbjGeNR9stfPlNbJnheiqXMPJeGIEXFY__Crj4SYsb6KD94DCzZ6LalnQ/exec

# Telegram ID адміністраторів (можна декілька, через кому)
# Отримайте свій ID через @userinfobot в Telegram
ADMIN_USER_IDS=643180224
